body {

}

/*
nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}*/

table#head{

}

table#body{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #888888;
	border-radius: 5px;


}


h1#title{

}

li {
    display: inline;
}
ul {
    float: left;
    width: 100%;
    /*padding: 0;
    margin: 0;
    list-style-type: none;*/
}
a#head{
    float: left;
    width: 12em;
    text-decoration: none;
    color:#ffffff;
	background-color:rgba(0,0,0,0.70);
    padding: 0.2em 0.6em;
    border-right: 1px solid #ffffff;
}

a#head:hover {
    /*background-color: fuchsia;*/
    text-decoration: underline;
}

div#MenuBar{
	background-color: #fff;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	
}

p#body{
	padding: 0 3px 0 3px;



}