body {
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 8px 100px 8px 100px;
}

/*
nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}*/

table#head{
	background-color: #64B434;
	background-image: url('http://localhost/dir/TeamRocket/collab/media/IMG_1071.JPG');
	background-position: center;
	width: 100%;
	border: 0px solid #55A525;
	box-shadow: 0px 0px 10px #888888;
	border-radius: 5px;
}

table#body{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #888888;
	border-radius: 5px;
	width:100%;


}


h1#title{
	color: #ffffff;
	font-size: 450%;
	width:25%;
	border-radius: 5px;
	background-color:rgba(0,0,0,0.70);
}

li {
    display: inline;
}

li#userInfo{
    
    width: 10em;
    color:#ffffff;
	background-color:rgba(0,0,0,0.70);
    padding: 0.2em 0.6em;
    margin-right: 100px;

	float: right;

}

a#userInfo{
	 font-weight: bold;
    color:#ffffff;
    text-decoration: none;

}
a#userInfo:hover {
    /*background-color: fuchsia;*/
    text-decoration: underline;
}

a#userInfo2{

    color:#0000FF;
    text-decoration: none;

}
a#userInfo2:hover {
    /*background-color: fuchsia;*/
    text-decoration: underline;
}

ul {
	display: inline;
    float: left;
    width: 100%;
    /*padding: 0;
    margin: 0;
    list-style-type: none;*/
}
a#head{
	 font-weight: bold;
    float: left;
    width: 12em;
    text-decoration: none;
    color:#ffffff;
	background-color:rgba(0,0,0,0.70);
    padding: 0.2em 0.6em;
    border-right: 1px solid #ffffff;
}

a#head:hover {
    /*background-color: fuchsia;*/
    text-decoration: underline;
}

div#MenuBar{
	background-color: #fff;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	
}

p#body{
	padding: 0 3px 0 3px;
width:100%;


}